<!-- Navbar -->
<nav class="navbar">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About me</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<!-- Hero Section -->
<section id="home" class="hero">
  <img class="main-img" src="assets/portrait.png" alt="a" />
  <h1><span class="highlight">Juan Carlos</span> López Fenoy</h1>
  <span>Full Stack Developer </span>

  <i class="fa-solid fa-arrow-down"></i>
</section>

<!-- About Section -->
<section id="about" class="about">
  <div class="about-img-container">
    <img class="about-img" src="assets/portrait.png" alt="a" />
  </div>
  <div class="about-container">
    <h1>About me</h1>
    <div>
      <p>I am a full-stack developer with experience in Angular and Node.js.</p>
      <p>
        While I specialize in frontend development, I also enjoy working on the
        backend.
      </p>
      <p>
        I have always valued versatility and strive to be adaptable across
        different aspects of development.
      </p>
    </div>
    <i class="fa-solid fa-arrow-down"></i>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects">
  <h2>My projects</h2>
  <div class="projects-container">
    <app-project-card
    title="Mis huevos"
    icon="fa-brands fa-angular"
    info="Font Awesome is the internet's icon library and toolkit used by millions of designers, developers, and content creators.
    Made with  and  in Bentonville, Boston, Chicago, Grand Rapids, Joplin, Kansas City, Seattle, Tampa, and Vergennes."
    ></app-project-card>
    <app-project-card
    title="Mis huevos"
    icon="fa-brands fa-angular"
    info="Font Awesome is the internet's icon library and toolkit used by millions of designers, developers, and content creators.
    Made with  and  in Bentonville, Boston, Chicago, Grand Rapids, Joplin, Kansas City, Seattle, Tampa, and Vergennes."
    ></app-project-card><app-project-card
    title="Mis huevos"
    icon="fa-brands fa-angular"
    info="Font Awesome is the internet's icon library and toolkit used by millions of designers, developers, and content creators.
    Made with  and  in Bentonville, Boston, Chicago, Grand Rapids, Joplin, Kansas City, Seattle, Tampa, and Vergennes."
    ></app-project-card><app-project-card
    title="Mis huevos"
    icon="fa-brands fa-angular"
    info="Font Awesome is the internet's icon library and toolkit used by millions of designers, developers, and content creators.
    Made with  and  in Bentonville, Boston, Chicago, Grand Rapids, Joplin, Kansas City, Seattle, Tampa, and Vergennes."
    ></app-project-card>
  </div>
  <i class="fa-solid fa-arrow-down"></i>
</section>


<!-- Contact Section -->
<section  id="contact" class="contact">
  <h2>Contact me</h2>
  <form>
    <input type="text" placeholder="Your name" />
    <input type="email" placeholder="Your email" />
    <textarea placeholder="Message"></textarea>
    <button type="submit">Send</button>
  </form>

  <!-- Imagen con animación activada solo cuando la sección de contacto es visible -->
  <div class="contact-img-container">
  <img
    #contactImg
    class="contact-img"
    src="assets/portrait.png"
    alt="Profile Picture"
  />
  </div>
</section>

