@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --primary-color:#ffd000;
  --secondary-color: #c08300;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-image: radial-gradient(#2c0f3d, #1b062c, #000000); /* El gradiente fijo */
}



section {
  height: 100vh; /* Cada sección ocupa el 100% de la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
